n8n/desativados/Agente IA Floricultura V 1.0 copy
{"createdAt":"2025-05-28T21:53:34.336Z","updatedAt":"2025-06-03T17:04:11.283Z","id":"VxuRqLxnU8Lx6yj4","name":"Agente IA Floricultura V 1.0 copy","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Fragmenta').item.json.mensagem }}","hasOutputParser":true,"options":{"systemMessage":"=## Prompt Agente de IA Floricultura Amora.\n\n\n```Json Obrigatorio quando não Houver todos de produtos.\n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": []\n}\n```\n\n** JSON Obrigatorio para quando Houver Fotos de Produtos**\n\n```json\n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": [\n    {\n      \"nome_produto\": \"Nome do produto 1\",\n      \"preco\": \"99.90\",\n      \"url_foto\": \"https://url-da-foto.jpg\"\n    }\n  ]\n}\n```\n\n## **REGRAS SIMPLES E DIRETAS:**\n\n1. **SEMPRE** gere um JSON completo como resposta.\n2. O campo **\"obrigatorio\"** é **OBRIGATÓRIO** e **NUNCA** pode ficar vazio.\n3. **NUNCA** envie mais de **4 produtos** no array \"produtos\".\n4. Use **\\[]** vazio quando não houver produtos.\n5. **NUNCA** tente enviar mais de 4 fotos ao mesmo tempo.\n6. **NUNCA** mostre o mesmo produto duas vezes ao cliente.\n7. **APENAS** ofereça produtos que existem nas ferramentas.\n8. **Nunca realizar o envio de imagem do produto quando estiver fechando a venda**, para não poluir a conversa.\n\n---\n## **OBJETIVO DA AMORA:**\n\n**Amora tem como missão principal transformar momentos em memórias floridas.** Seu objetivo é:\n\n1. **VENDER COM PROPÓSITO**: Não apenas vender flores, mas conectar pessoas através de emoções expressas com arranjos florais perfeitos para cada ocasião.\n2. **CRIAR EXPERIÊNCIAS**: Proporcionar um atendimento tão especial quanto as flores que vende, fazendo cada cliente sentir-se único e valorizado.\n3. **ENTENDER NECESSIDADES**: Identificar a verdadeira intenção por trás de cada pedido - não é só um buquê, é uma declaração de amor, um pedido de desculpas ou uma celebração.\n4. Amora nunca diz que é assistente, amora se comporta como um ser humano, afinal amora é um amor de pessoa ne?\n\n\n**Mensagem de interação inicial OBRIGATORIA**\n\n🌸 Olá, eu sou a Amora! 🌸\n\nSeja bem-vindo à nossa floricultura! 🌺 Como posso te ajudar hoje?\n\n---\n## **FLUXO DE FECHAMENTO DE PEDIDO - SIGA ESTA ORDEM EXATA:**\n\n**Para fechamento do pedido sempre use o formato de resposta do JSON abaixo:**\n\nNunca enviar imagens de produtos quando o cliente estiver escolhendo ou fechando o pedido.\n\n```json\n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": []\n}\n```\n\n### 1. ATENÇÃO **Nunca realizar o envio das imagens dos produtos quando estiver fechando a venda, para não poluir a conversa. Nesse momento envie apenas Texto, exceto quando o cliente solicitar.**\n\nUtilize a tool \"calculadora\" para realizar os cálculos necessários.\n\n### 2. **CONFIRMAR PRODUTO**: \"Você gostaria de adquirir \\[nome do produto]?\"\n\n### 3. **PERGUNTAR QUANTIDADE**: \"Quantas unidades você deseja?\"\n\n### 4. **VERIFICAR DISPONIBILIDADE**: Usar tool \"Precos\" para verificar estoque.\n\n### **5. SUGERIR COMPLEMENTOS DE FORMA COERENTE (ORDER BUMP):**\n\n\n*ATENÇÃO* A abordagem de sugestões de complementos deve ser inteligente e evitar a repetição de itens já comprados.\n\n* **Se o cliente comprou flores**, ofereça produtos complementares como **bombons**, **cartões** ou **ursinhos de pelúcia**.\n\n* **Se o cliente comprou um cartão**, **não ofereça outro cartão**. Sugira complementos **diferentes**, como **bombons** ou **ursinhos de pelúcia**.\n\n#### **Exemplos de sugestões coerentes**:\n\n* \"Gostaria de adicionar um cartão ou bombons?\" (caso o cliente ainda não tenha comprado um cartão).\n* \"Que tal incluir bombons ou um ursinho de pelúcia para complementar seu presente?\" (caso o cliente tenha comprado flores).\n* \"Posso adicionar um bombom para deixar o presente ainda mais doce?\" (caso o cliente tenha escolhido flores, por exemplo).\n\n**Sempre verifique se o item está disponível nas ferramentas** e **evite sugerir produtos que o cliente já comprou**.\n\n---\n\n### 6. **COLETAR DADOS DO CLIENTE**:\n\n* Perguntar se é para **entrega** ou **retirada**:\n\n  * **Se retirada**, **não precisa pedir o endereço**. Apenas envie o **endereço para retirada** no resumo.\n  * **Se entrega**, pergunte pelo **endereço completo** de entrega e se há data e horário preferenciais.\n\n**Dados que devem ser coletados**:\n\n### **Coleta de Informações - Passo a Passo Organizado**\n\n1. **Nome Completo**:\n   \"Por favor, qual é o seu nome completo?\"\n\n2. **Endereço e Data/horário**:\n   Pergunta combinada para **entrega** ou **retirada**:\n   \"Por favor, informe o **endereço completo** e a **data e horário** que você prefere para a **entrega** ou **retirada** do pedido.\"\n\n3. **Forma de Pagamento**:\n   \"Como você gostaria de pagar?\"\n\n   * Se o cliente escolher **Pix**, pergunte:\n     \"A chave do Pix é \"floriamora@gmail.com\". Assim que realizar o pagamento nos envie o comprovante.\"\n   * Se o cliente escolher **Cartão**, pergunte:\n     \"O pagamento será feito no momento da entrega ou retirada, conforme sua preferência. Está tudo certo para pagar com cartão?\"\n\n### **Resumo do Fluxo de Perguntas (organizado e simplificado)**:\n\n1. \"Por favor, qual é o seu nome completo?\"\n2. \"Por favor, informe o **endereço completo** e a **data e horário** que você prefere para a **entrega** ou **retirada** do pedido.\"\n3. \"Como você gostaria de pagar?\"\n\n   * Se **Pix**: \"A chave do Pix é \"floriamora@gmail.com\". Assim que realizar o pagamento nos envie o comprovante.\n   * Se **Cartão**: \"O pagamento será feito no momento da entrega ou retirada, conforme sua preferência. Está tudo certo para pagar com cartão?\"\n\n---\n### **AJUSTE NO RESUMO DO PEDIDO (ENTREGA OU RETIRADA)**:\n\nAgora, o **resumo do pedido** vai incluir de forma clara a escolha de **entrega** ou **retirada**, com as informações relevantes para cada situação. Se o cliente escolheu **retirada**, o **endereço de retirada** será mostrado. Se o cliente escolheu **entrega**, o **endereço de entrega** será indicado, juntamente com a data e horário.\n\n#### **Exemplo de Resumo de Pedido com Entrega**:\n\nIMPORTANTE: Formate o texto para um melhor visualizaçao remova #\n\nAtenção se for Retirada remova a taxa de entrega do total do pedido.\n\nAtenção Use o exemplo de Resumo para cada caso.\n\nPergunte Qual cidade o Usuario se encontra e forneça o endereço de acordo a cidade.\n\nJi-Paraná – RO / Cuiabá MT\n\n```\n# 🛒 **EXEMPLO RESUMO DO PEDIDO COM TAXA DE ENTREGA\n\n*Nome:* [Nome do Cliente]\n\n### Produtos:\n- 🌹 [Produto] - R$ XX,XX (x[quantidade])\n\n### Totais:\n- Subtotal: R$ XX,XX  \n- Taxa de Entrega: R$ 15,00 (Para qualquer região)  \n- Total: R$ XX,XX  \n\n### Entrega:\n- *Data:* [Data de entrega]  \n- *Endereço:* [Endereço de entrega]  \n- *Pagamento:* [Método]  \n\nEndereços das Floriculturas Aroma:  \nRealizamos entrega em toda região Ji-Paraná – RO / Cuiabá MT\n\n🌸 Floricultura Amora\nEndereço: Avenida Marechal Rondon, 1684 – Bairro 2 de Abril, Ji-Paraná – RO\n\n🌸 Floricultura Amora\nAv. Gov. Dante Martins de Oliveira, 3137 Lixeira, Cuiabá MT\n\n#### **EXEMPLO RESUMO DO PEDIDO SEM TAXA DE ENTREGA**:\n\n```\n# 🛒 RESUMO DO PEDIDO\n\n*Nome:* [Nome do Cliente]\n\n### Produtos:\n- 🌹 [Produto] - R$ XX,XX (x[quantidade])\n\n### Totais:\n- Subtotal: R$ XX,XX  \n- Taxa de Entrega: R$ 15,00 (Para qualquer região)  \n- Total: R$ XX,XX  \n\n### Retirada:\n- *Data para Retirada:* [Data]  \n- *Endereços para Retirada:* Endereço: Avenida Marechal Rondon, 1684 – Bairro 2 de Abril, Ji-Paraná – RO\n  Av. Gov. Dante Martins de Oliveira, 3137 Lixeira, Cuiabá MT\n\n- *Pagamento:* [Método]  \n\nEndereços da Floricultura Aroma:  \nRetirada disponível nas lojas.\n\nAvenida Marechal Rondon, 1684 – Bairro 2 de Abril, Ji-Paraná – RO\nAv. Gov. Dante Martins de Oliveira, 3137 Lixeira, Cuiabá MT\n```\n\n### 8. **CONFIRMAR FECHAMENTO**: \"Seu pedido foi registrado com sucesso! Agradecemos pela preferência 🌸\"\n\n---\n\n## **COERÊNCIA NA BUSCA E SUGESTÃO DE FOTOS DE PRODUTOS:**\n\n1. **Se for sugerir um urso, busque apenas produtos que contenham o nome \"urso\" ou sejam relacionados a ele**.\n\n   * Se o cliente pedir um **urso de pelúcia**, a busca deve ser feita apenas para produtos com esse nome, e não \"urso\" de outro tipo (como arranjo de flores, por exemplo).\n2. **Se o produto não tiver foto disponível**, a resposta deve ser:\n\n   * \"No momento, não temos a foto disponível desse produto. Porém, ao fechar o pedido, o setor responsável entrará em contato com você para fornecer mais detalhes e imagens completas do produto.\"\n\n---\nlista de **emojis** que **Amora** pode usar nas interações, mantendo o tom acolhedor, florido e encantador para os clientes\n\n### **Lista de Emojis para Amora**:\n\n#### Emojis Gerais para Atendimento e Saudações:\n\n* 🌸 (Flor de cerejeira)\n* 🌺 (Flor)\n* 💐 (Buquê de flores)\n* 🌻 (Girassol)\n* 🌷 (Tulipa)\n* 🌼 (Margarida)\n* 🌹 (Rosa)\n* 🌿 (Folhas)\n* 🌾 (Planta com flores)\n* 🌻 (Girassol)\n\n#### Emojis para Agradar e Engajar:\n\n* 😊 (Sorriso)\n* 😍 (Olhos de coração)\n* 😘 (Beijo)\n* 💕 (Coração com dois corações)\n* 💖 (Coração brilhante)\n* ✨ (Brilho)\n* 💫 (Estrela cadente)\n* 💝 (Coração com laço)\n* 🎉 (Festa, comemoração)\n* 🥳 (Feliz, comemorando)\n\n#### Emojis para Relacionamento e Emoções:\n\n* 💌 (Carta de amor)\n* 🥰 (Amor, carinho)\n* 🥂 (Brinde, celebração)\n* 🎁 (Presente)\n* 🌹 (Rosa, amor)\n* 🤗 (Abraço)\n* 💖 (Coração com brilho)\n* 🥀 (Rosa murcha - usado com cautela para situações mais delicadas)\n* 😢 (Tristeza - para momentos mais sensíveis)\n\n#### Emojis para Informações de Produtos:\n\n* 🛒 (Carrinho de compras)\n* 🏷️ (Etiqueta de preço)\n* 💳 (Cartão de crédito)\n* 🛍️ (Sacola de compras)\n* 📦 (Caixa)\n* 📋 (Lista de verificação)\n\n#### Emojis para Entrega e Retirada:\n\n* 🚚 (Caminhão de entrega)\n* 🚪 (Porta de entrada)\n* 🏠 (Casa)\n* 📍 (Localização, ponto)\n* ⏰ (Relógio, hora marcada)\n* 🕒 (Relógio com hora marcada)\n* ✈️ (Avião, para algo que vai longe)\n\n#### Emojis para Produtos e Complementos:\n\n* 🍫 (Bombom)\n* 🎂 (Bolo - para ocasiões especiais como aniversários)\n* 💝 (Presente com laço)\n* 🧸 (Ursinho de pelúcia)\n* 🎉 (Confete - para celebração)\n* 🍾 (Garrafa de champanhe)\n\n#### Emojis para Falar de Qualidade e Apreciar:\n\n* ⭐ (Estrela de qualidade)\n* 👑 (Coroa, para produtos especiais)\n* 🌟 (Estrela brilhante)\n* 🏅 (Medalha de ouro)\n* 💎 (Diamante, para produtos de luxo)\n\n#### Emojis para Detalhes e Organização:\n\n* 📲 (Celular, para contato)\n* 💬 (Balão de conversa)\n* 🔍 (Lupa, para busca)\n* 📅 (Calendário, para agendamento de entrega)\n* 📝 (Caderno, anotações)\n\n#### Emojis de Clima e Natureza:\n\n* 🌦️ (Chuva com sol, dias bonitos)\n* 🌅 (Amanhecer, nova jornada)\n* 🌄 (Paisagem montanhosa)\n* 🌙 (Lua)\n* 🌈 (Arco-íris, simboliza felicidade e novas oportunidades)\n\n---\n\n### **Dicas de Uso**:\n\n* **Usar com moderação**: Emojis são ótimos para tornar as conversas mais descontraídas, mas é importante que não sejam exagerados para não perder a clareza da mensagem.\n* **Combine com o contexto**: Use emojis relacionados ao produto ou à situação (ex.: flores e 🌸, entrega e 🚚).\n* **Evite emojis que possam parecer desrespeitosos ou muito informais** em momentos mais sérios.\n\n\n## **VERIFICAÇÃO FINAL ANTES DE RESPONDER:**\n\n1. O JSON está completo e fechado corretamente?\n2. O campo \"obrigatorio\" está preenchido?\n3. Há no máximo 4 produtos no array?\n4. As sugestões são APROPRIADAS para o gênero e relacionamento mencionados?\n5. Você verificou se está mostrando produtos DIFERENTES dos anteriores?\n6. Você está oferecendo **APENAS** produtos disponíveis nas ferramentas?\n7. Você está sendo NATURAL e CONTEXTUAL na conversa?\n\n---\n**IMPORTANTE:** Adapte-se ao fluxo da conversa e extraia informações já fornecidas pelo cliente sem fazer perguntas redundantes. Se o cliente pedir uma foto que não está disponível, deixe claro que o setor responsável entrará em contato para enviar mais detalhes.\n\n---\n### **RESUMO IMPORTANTE**:\n\n* **Nunca sugerir produtos que não estão disponíveis nas ferramentas**.\n* **Nunca sugerir bombons ou qualquer outro produto se ele não estiver disponível nas ferramentas**.\n* Se um produto não tiver foto, **informe claramente que a imagem não está disponível** e que o setor responsável entrará em contato para enviar mais detalhes.\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-40,460],"id":"25eeb482-81cb-4b0a-9f18-a99cbce0eb00","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-180,720],"id":"4bf95ff0-ad2c-4ccd-984c-40601bdcbef3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Fragmenta').item.json.chat_id }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-200,920],"id":"6fcd4f2f-e63d-4b91-ab8b-74c8073c1303","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"d6JdleLYuZqJxAAO","name":"Postgres account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"obrigatorio\": \"Mensagem de resposta simpática e objetiva para o cliente.\",\n  \"produtos\": [\n    {\n      \"nome_produto\": \"Nome do produto\",\n      \"preco\": \"Preço do produto no formato string, ex: '19.99'\",\n      \"url_foto\": \"URL completa e válida da imagem do produto\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[660,980],"id":"fa43010d-c4f3-4fc3-9fa1-e94f653744e6","name":"Structured Output Parser"},{"parameters":{"documentId":{"__rl":true,"value":"19_iDJIRNjqtTWtaiiEIQRkX9JMA1CSChkP-A9zzOHws","mode":"list","cachedResultName":"Estoque_Floricultura","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19_iDJIRNjqtTWtaiiEIQRkX9JMA1CSChkP-A9zzOHws/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19_iDJIRNjqtTWtaiiEIQRkX9JMA1CSChkP-A9zzOHws/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[280,960],"id":"15f1da82-4940-4f92-8a34-cc91cb6581d4","name":"Precos","credentials":{"googleSheetsOAuth2Api":{"id":"sFtSa2h1fvmHuTqX","name":"rolimvictorhugo@gmail.com"}}},{"parameters":{"name":"cauculadora","description":"Utilize para realizar cálculos","jsCode":"// Função que recebe uma expressão e retorna o resultado\nfunction calcularExpressao(expressao) {\n    try {\n        // Avalia a expressão e retorna o resultado como string\n        return eval(expressao).toString();\n    } catch (error) {\n        // Retorna uma mensagem de erro se a expressão for inválida\n        return 'Erro na expressão';\n    }\n}\n\n// Entrada: a expressão matemática a ser calculada\nconst input = '1 + 2 * 3 - 4 / 2'; // Exemplo de expressão\nconst resultado = calcularExpressao(input);\n\n// Retorna o resultado como uma string\nreturn resultado;"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[100,720],"id":"2284d2ba-a18a-4944-a8d2-322718b972eb","name":"cauculadora"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,840],"id":"81c6818d-2597-4cff-a566-df6353e3cc39","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2640,860],"id":"02960f29-f6a1-41e0-a165-ac4ed004118a","name":"Wait","webhookId":"17053320-9d15-48f3-8524-b25aa4f613b8"},{"parameters":{"assignments":{"assignments":[{"id":"e7f64186-a8af-4378-a2c5-f535c2ce6e14","name":"output","value":"={{ $('AI Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,440],"id":"f3cf0427-83cb-4541-b722-689ed25f337f","name":"Ouput Agente Pedidos"},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Enviar Mensagem","description":"=Essa categoria deve ser utilizada somente quando o array de produtos estiver completamente vazio, ou, caso contenha produtos, e todos eles apresentem o campo url_foto vazio, mantenha apenas o conteudo do campo \"mensagem\" no output"},{"category":"Enviar Imagem","description":"Essa categoria Devera Ser utilizada Apenas quando  o Array de produtos vier com o campo url_foto Preenchido, ignorando outras saida "}]},"options":{"systemPromptTemplate":"=### Prompt para Classificação de Respostas\n\n**Objetivo**: Categorizar a resposta do agente com base nas informações fornecidas. Apenas uma categoria deve ser utilizada em cada resposta.\n\n#### Estrutura dos Dados\n\n- **mensagem**: Mensagem de resposta simpática e objetiva para o cliente.\n- **produtos**: Lista de produtos, onde cada produto contém:\n  - **nome_produto**: Nome do produto.\n  - **preco**: Preço do produto (formato string, ex: '19.99').\n  - **url_foto**: URL completa e válida da imagem do produto.\n\n#### Regras de Classificação\n\n1. **Categoria \"enviar imagem\"**:\n   - Utilize esta categoria **apenas quando o array `produtos` contiver pelo menos um produto com o campo `url_foto` preenchido**.\n   - **Exemplo**: \n     - mensagem: \"Aqui está a imagem do produto!\"\n     - produtos:\n       - nome_produto: \"Rosa Colombiana Vermelha\"\n       - preco: \"9.90\"\n       - url_foto: \"https://exemplo.com/imagem.jpg\"\n   - **Saída Esperada**: Categoria: \"enviar imagem\"\n\n2. **Categoria \"mensagem\"**:\n   - Essa categoria deve ser utilizada somente quando o array de produtos estiver completamente vazio, ou, caso contenha produtos, e todos eles apresentem o campo url_foto vazio, Ou quando o array de produtos não existir.\n   - **Exemplo**: \n     - mensagem: \"Infelizmente, não temos imagens disponíveis no momento.\"\n     - produtos:\n       - nome_produto: \"Rosa Sem Imagem\"\n       - preco: \"5.00\"\n       - url_foto: \"\"\n   - **Saída Esperada**: Categoria: \"mensagem\"\n   - Output esperado: apenas o conteudo do campo \"mensagem\"\n   - mantenha apenas o conteudo da \"mensagem\" no output removendo o array de produtos \"produtos\\\":[]\n \n\n#### Importante\n\n- **Apenas uma categoria deve ser utilizada por vez**. Nunca deve haver uma combinação de categorias na mesma resposta. Siga a hierarquia acima para determinar qual categoria usar.\n---\n### "}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[920,620],"id":"b8fefcfd-d244-49a5-b169-adc11e7d29f9","name":"Classificar Saida"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,860],"id":"709e3854-b1e1-4e84-9f84-82dabc0d73e9","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"resource":"messages-api","instanceName":"GLPI","remoteJid":"={{ $('Fragmenta').item.json.chat_id }}","messageText":"={{ $json.obrigatorio }}","options_message":{"delay":1200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2080,860],"id":"9fc4f9c0-d7db-4337-ab7e-e62f2377bd6b","name":"Enviar Mensagem Padrao","credentials":{"evolutionApi":{"id":"Jsa3dJJatpZBbdg9","name":"Victor"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"GLPI","remoteJid":"={{ $('Fragmenta').item.json.chat_id }}","media":"={{ $('Loop Over Items').item.json.url_foto }}","caption":"=Produto: {{ $('Loop Over Items').item.json.nome_produto }}\nValor: {{ $('Loop Over Items').item.json.preco }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2340,860],"id":"204bce09-4fd5-40cd-9278-3ea3abb93d07","name":"Enviar Foto e Descrição","credentials":{"evolutionApi":{"id":"Jsa3dJJatpZBbdg9","name":"Victor"}}},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const entry of items) {\n  const outputObj = JSON.parse(entry.json.output);\n\n  if (outputObj.produtos && Array.isArray(outputObj.produtos)) {\n    outputObj.produtos.forEach((produto, index) => {\n      const itemJson = {};\n\n      // Adiciona a mensagem primeiro, apenas no primeiro produto\n      if (index === 0) {\n        itemJson.obrigatorio = outputObj.obrigatorio;\n      }\n\n      // Em seguida, os demais campos\n      itemJson.nome_produto = produto.nome_produto;\n      itemJson.preco = produto.preco;\n      itemJson.url_foto = produto.url_foto;\n      itemJson.qrcode = outputObj.qrcode;\n\n      newItems.push({ json: itemJson });\n    });\n  }\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,840],"id":"25fe33c5-f50f-44fd-aa2f-59da44d57d72","name":"Estruturar Array","alwaysOutputData":true},{"parameters":{"content":"## \n\n# Agente de IA Floricultura.....\n\n## *Funções Principais*\n\n - **FAQ**: Responde a dúvidas frequentes dos clientes.\n\n - **Informações de Produtos** : Envia informações sobre os produtos disponíveis e seus respectivos valores.\n\n - **Criação de Orçamentos**: Gera orçamentos para pedidos conforme solicitado pelos clientes.\n\n - **Coleta de Informações**: Coleta dados como forma de pagamento, informações de entrega e se o pedido será retirado ou entregue.\n\n - **Integração com Gateway de Pagamento**: Processa pagamentos de cartões de crédito e débito de forma segura e eficiente. Se o pagamento for via PIX, o agente envia a chave PIX; se for por cartão, fornece o link de pagamento.\n\n - **Envio de Imagens de Produtos**: Fornece imagens dos produtos solicitadas pelos clientes, incluindo valores e descrições.\n\n - **Resumo da Venda**: Gera um resumo detalhado ao finalizar a venda, incluindo informações do pedido e totais.\n\n","height":1280,"width":1140},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-60],"id":"05d6465b-b8c2-4053-9ecc-88011976abe1","name":"Sticky Note"},{"parameters":{"content":"## Classificador de Mensagens\n\n### Categorias\n\n- **Mensagens:** Para conteúdos que não contêm imagens a serem enviadas.\n\n- **Envia Imagens:** Para conteúdos que incluem imagens que devem ser enviadas ao usuário.\n\n### Descrição\n\nO classificador é responsável por determinar se o conteúdo gerado no output do agente contém imagens que devem ser enviadas. \n\n- **Caso haja imagens:** O classificador utiliza a categoria **Envia Imagens**.\n\n- **Caso não haja imagens:** O classificador utiliza a categoria **Mensagens**.\n","height":1280,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,-60],"id":"1f2082c8-1b0a-4342-802a-11ceb51ef833","name":"Sticky Note2"},{"parameters":{"content":"## Envia Mensagem de Texto\n\n\n","height":780,"width":460,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,-80],"id":"2cbdca00-35bc-4ebd-a888-de3613bb8ac6","name":"Sticky Note3"},{"parameters":{"content":"### Estrutura Array Envio Informaçoes Produtos.\n- **Organiza Conteudo em json para ser realizado o envio das informações dos produtos, como Nome, preço e imagem** \n\n","height":520,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,700],"id":"d95bfcdb-8ecf-4b5d-9254-0c0bd648ba56","name":"Sticky Note4"},{"parameters":{"content":"# Envio de Imagens Únicas ou Múltiplas e Informações de Produtos\n\n## Descrição\n\n### Essa funcionalidade permite o envio de imagens, juntamente com informações sobre os produtos, como preço e descrição. O agente de IA realiza o seguinte processo:\n\n1. **Texto Padrão:** Envia um texto padrão quando precisa enviar uma imagem ao cliente. \n\n2. **Recepção de Informações:** Recebe informações em um loop que contém:\n   - Preço do produto\n   - Descrição do produto\n   - URL da imagem\n\n3. **Download da Imagem:** Realiza o download da imagem a partir da URL fornecida.\n\n4. **Conversão para Base64:** Converte a imagem baixada para o formato Base64.\n\n5. **Envio da Imagem:** Envia a imagem, incluindo as informações de preço e descrição, para o cliente.\n---","height":1280,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1660,-60],"id":"067d5760-0f99-4dda-baef-66ac6eb1afd6","name":"Sticky Note1"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"imagensfloricultura","mode":"list","cachedResultName":"imagensfloricultura"},"embeddingBatchSize":20,"options":{"queryName":"match_imagensfloricultura"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-2820,-1440],"id":"d8c1b8aa-f443-48b9-ae5e-e7dc8ec230b4","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"G9KBchsZQ2g5jOab","name":"Supabase Cloud"}}},{"parameters":{"model":"text-embedding-ada-002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2940,-1180],"id":"14d3911d-345a-45f1-9614-6e06732b7e7c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2760,-1180],"id":"67016364-f24a-4119-84c3-1cfe8c8a458d","name":"Default Data Loader"},{"parameters":{"chunkSize":512,"chunkOverlap":80},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-2600,-1020],"id":"288186d6-a62e-4625-8d06-6a1ef20ed6ca","name":"Character Text Splitter"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4420,-1560],"id":"a732fc0f-a907-4a3f-836e-b8bf8b4b8ed5","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"ebdded64-492e-4236-bf11-f9784f9335a8","name":"descrição imovel","value":"={{ $json.descricao_completa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3080,-1440],"id":"76f6435c-06e2-484a-995e-a52871f7a1d0","name":"Edit Fields"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3360,-1460],"id":"01367410-c88d-4e93-a4a6-ce5ebd6977fb","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4460,-1300],"id":"a095bbcc-aaf2-42a4-b30c-2975d09b1ac0","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","tableId":"IMAGENS FLORICULTURA SAO JOSE","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3900,-1460],"id":"4a962142-6089-4d37-9a5c-a5105164902e","name":"Supabase","credentials":{"supabaseApi":{"id":"G9KBchsZQ2g5jOab","name":"Supabase Cloud"}}},{"parameters":{"jsCode":"// Cada item em \"items\" contém os dados de um produto em item.json\nconst descricoes = items.map(item => {\n  const produto = item.json;\n\n  // Converte a URL assinada em pública, removendo o token\n  const linkPublico = produto.link\n    .replace('/sign/', '/public/')\n    .split('?')[0]; // Mantém só até o \"?\"\n\n  return {\n    json: {\n      descricao_completa: `Nome: ${produto.produto} | Preço: ${produto.preço} | Descrição: ${produto.Descricao} | Imagem: ${linkPublico}`\n    }\n  };\n});\n\nreturn descricoes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3660,-1460],"id":"74c50b4b-3f15-4fd8-9b62-83a034c64b78","name":"Estrutura Produtos","alwaysOutputData":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"imagensfloricultura","mode":"list","cachedResultName":"imagensfloricultura"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4140,-1460],"id":"7490f9ff-6e70-4a98-a70a-40cc2ad509aa","name":"Zerar Banco","credentials":{"postgres":{"id":"VcCMPR3VK7JJzhAi","name":"Postgres Supabase"}}},{"parameters":{"model":"text-embedding-ada-002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-60,1000],"id":"3dc27564-8c75-4a72-a85d-1eeb2d1d6d9d","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"imagens","toolDescription":"Utilize Para Buscar informações sobre produtos, como preço, nome e url da imagem.","tableName":{"__rl":true,"value":"imagensfloricultura","mode":"list","cachedResultName":"imagensfloricultura"},"topK":5,"options":{"queryName":"match_imagensfloricultura"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[0,840],"id":"dc414600-930b-429c-8614-68c692f61c50","name":"Imagens","credentials":{"supabaseApi":{"id":"G9KBchsZQ2g5jOab","name":"Supabase Cloud"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd12788-3c02-4a42-8f3a-e0f34b40b76a","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"id":"9900c408-b4c7-41d3-9054-291fcc19d77d","name":"ignorar_grupos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4060,340]},{"parameters":{"operation":"set","key":"={{ $json.remoteJid }}_block","value":"true","keyType":"string","expire":true,"ttl":180},"id":"507d3ae1-ac9b-4a29-91e2-eafc38a1d577","name":"Block IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2900,180],"credentials":{"redis":{"id":"fYPuEc0mtv0tb0xM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Block","key":"={{ $json.remoteJid }}_block","options":{}},"id":"7b5332a4-787e-4183-9fe5-0fd8d24ce6af","name":"Receber Block Chat","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2900,460],"credentials":{"redis":{"id":"fYPuEc0mtv0tb0xM","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b556bba-decb-4c52-af5b-8a2b019915b6","leftValue":"={{ $json.Block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"164cf512-f069-4ce1-acb3-61a121d30350","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2660,320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Definições Globais\"].json[\"fromMe\"] }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"5c7ab488-45a7-4fc6-bd05-9d2f1c7cd459"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47adcb9e-74a9-487c-9aa5-ef65dec84847","leftValue":"={{ $item(\"0\").$node[\"Definições Globais\"].json[\"fromMe\"] }}","rightValue":"=false","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"c0c21d90-0134-4346-9e11-61aecb6eab9d","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3140,320]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","binaryPropertyName":"imagem","options":{"fileName":"image","mimeType":"image/jpeg"}},"id":"5632f5b9-921a-4107-b6e1-395647abe113","name":"Convert to JPG","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1800,460]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"analise o conteúdo dessa imagem de forma fidedigna. ","inputType":"base64","binaryPropertyName":"imagem","options":{}},"id":"40331f89-b6de-4b35-8bd8-e90410464f93","name":"Analisa Imagem","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-1580,460],"credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"4765207e-26a9-478c-94a8-2db13b31ef65"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eff21590-3f98-44e7-a61c-69b58659b264","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"70387fe0-1775-4220-8d33-31a51169cd39","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6a66a774-6e4a-4d62-bdab-4122b6395ab9","leftValue":"texto e legenda","rightValue":"={{ $('Webhook').item.json.body.data.messageType }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto e legenda"}]},"looseTypeValidation":true,"options":{}},"id":"e8314190-3e04-4267-a10b-1ecb85d3b0ab","name":"Switch messageType","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2200,300]},{"parameters":{"assignments":{"assignments":[{"id":"98cb7ff6-269e-40f0-9ca3-779b426b5dab","name":"remoteJid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"2a9dbe4e-92e9-4d7d-9d5e-277b34c5736e","name":"mensagem","value":"={{ \n  $('Webhook').item.json.body.data.message.conversation +\n  ($('Webhook').item.json.body.data.contextInfo?.quotedMessage?.imageMessage?.caption \n    ? \" | \" + $('Webhook').item.json.body.data.contextInfo.quotedMessage.imageMessage.caption.replace(/\\n/g, ' ') \n    : \"\") \n}}","type":"string"}]},"options":{}},"id":"59127f9e-5bdf-4876-81cb-195ff0db0098","name":"Texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,140]},{"parameters":{"assignments":{"assignments":[{"id":"b2c30787-f6e4-4f1a-87da-13b42a132342","name":"base64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"base64\"] }}","type":"string"}]},"options":{}},"id":"d1f84715-02a7-4a1f-ab18-143c752d4659","name":"Áudio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1980,300]},{"parameters":{"assignments":{"assignments":[{"id":"ff392999-d538-4fdf-83d6-932872f9f938","name":"base64","value":"={{ $('Definições Globais').item.json.base64 }}","type":"string"}]},"options":{}},"id":"0f4f2b76-8650-493c-96a2-46326b13af1e","name":"Imagem","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,460]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mpeg"}},"id":"89a556ef-24f5-44b9-81e5-7058fd26156e","name":"Convert to MPEG","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1760,300]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"77e94f9e-7fb1-4ffa-bbb2-697d98a403cd","name":"Transcreve Áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[-1580,300],"credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Switch').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $item(\"0\").$node[\"Transcreve Áudio\"].json[\"text\"] }}","type":"string"}]},"options":{}},"id":"3039b8d3-798b-4e16-b479-3ce4379d7580","name":"Transcrição","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1420,300]},{"parameters":{"assignments":{"assignments":[{"id":"a7322056-3060-4893-9d0d-13f49560c27c","name":"remoteJid","value":"={{ $('Definições Globais').item.json.remoteJid }}","type":"string"},{"id":"424c7671-5250-4bf2-aa56-d12759837522","name":"mensagem","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"3756274b-2cbe-42d2-8e2f-8dc3a40c7fe4","name":"Imagem Analisada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1420,460]},{"parameters":{"assignments":{"assignments":[{"id":"8a9e3cf8-ed81-432f-97ed-3e313dda6117","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"c462d894-872e-4dfa-93f8-f5473ba0a874","name":"pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"52a755db-c4a7-40ed-adb8-db8783fac6ca","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"b45af9ee-b316-4a90-ac1c-2eb9c1c23e1f","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"0269df47-0701-4541-9973-21e60fae5db4","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"}]},"options":{}},"id":"81c7642f-553b-4c11-9b52-64e3cc297eb9","name":"Definições Globais","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3700,320]},{"parameters":{"operation":"push","list":"={{ $('Merge').item.json.remoteJid }}","messageData":"={{ $json.mensagem }}","tail":true},"id":"2e0fff7e-6b35-4805-ba10-8083135aa275","name":"Listar Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-820,180],"credentials":{"redis":{"id":"fYPuEc0mtv0tb0xM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"mensagem","key":"={{ $('Merge').item.json.remoteJid }}","options":{}},"id":"0bde951d-cb47-4519-a0d0-c66f5598d8e0","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-440,180],"credentials":{"redis":{"id":"fYPuEc0mtv0tb0xM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb80936-87dc-4fcf-9784-83b69bf74de3","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Merge').item.json.mensagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"dadda9b3-03d4-4799-b3b1-7a48100c7c36","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1140,440]},{"parameters":{"operation":"delete","key":"={{ $('Merge').item.json.remoteJid }}"},"id":"33057fb3-dd79-412e-8214-ddfae968041f","name":"Deleta Mesagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-620,420],"credentials":{"redis":{"id":"fYPuEc0mtv0tb0xM","name":"Redis account"}}},{"parameters":{"amount":7},"id":"e63df6f4-0a77-4c4b-92a1-30c15a897517","name":"Debounce","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-620,180],"webhookId":"02bb4060-046d-4b5a-85e8-f2c384efe9f0"},{"parameters":{"assignments":{"assignments":[{"id":"a8f9df49-3137-42d2-9ac3-dae8a8ea7a26","name":"mensagem","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"22d5a625-8475-4115-9982-2b4911663125","name":"chat_id","value":"={{ $('Merge').item.json.remoteJid }}","type":"string"}]},"options":{}},"id":"81dd9c14-7da4-47b9-a334-c5b9f9857363","name":"Fragmenta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,420]},{"parameters":{"numberInputs":3},"id":"c7fc68de-3dbe-474d-af9e-a829d2094f80","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1200,180],"alwaysOutputData":true},{"parameters":{"content":"# PAUSA PARA ATENDIMENTO HUMANO","height":80,"width":716,"color":5},"id":"7e185ee8-74a3-41a2-8cfd-2519a48a7a9b","name":"Sticky Note46","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3360,40]},{"parameters":{"content":"# IDENTIFICADOR TIPO DE MENSAGEM","height":80,"width":676,"color":5},"id":"9511380d-89a6-461f-887a-a27b26d70014","name":"Sticky Note47","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,-20]},{"parameters":{"content":"# DEBOUNCE","height":80,"width":236,"color":5},"id":"bbedd8b5-4cb7-45c6-b7a2-12b2f61e0ca4","name":"Sticky Note48","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,0]},{"parameters":{"content":"# IGNORAR GRUPOS ","height":80,"width":356,"color":5},"id":"540c3267-1942-4098-a1ba-4b57d7e44cfb","name":"Sticky Note52","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4320,220]},{"parameters":{"content":"# DEFINIÇÕES","height":80,"width":236,"color":5},"id":"8e98e3b7-eb05-46b3-a181-b4bb47ee994f","name":"Sticky Note53","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3800,220]},{"parameters":{"content":"# WEBHOOK","height":80,"width":216,"color":5},"id":"16bc09df-93b0-4b54-8d36-80e9495063f9","name":"Sticky Note54","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4600,220]},{"parameters":{"content":"","height":300,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4600,240],"id":"f8fd85e0-1bf8-4f71-b296-aed46be3759f","name":"Sticky Note13"},{"parameters":{"content":"","height":920,"width":1980,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,-60],"id":"ba23a0a9-abcb-4dbe-92cd-65cbe3891c6c","name":"Sticky Note14"},{"parameters":{"assignments":{"assignments":[{"id":"c8ccafd2-d474-4a3e-b1f7-52fdca0b5437","name":"output","value":"={{ $json[\"output\"].match(/\"obrigatorio\"\\s*:\\s*\"([\\s\\S]*?)\"/)[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-360],"id":"19111611-f2ea-40fc-a578-3685c5af9156","name":"Regex1"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"557588008035@s.whatsapp.net"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,-360],"id":"a223c527-4531-4226-ae1a-36001456bf66","name":"Limpar Memoria","credentials":{"postgres":{"id":"d6JdleLYuZqJxAAO","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a9957949-5479-4944-9cf1-533a4489f940","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-980,180],"id":"968d84f7-6183-4abc-ba27-fad7a9f3646a","name":"Normaliza"},{"parameters":{"content":"","height":640,"width":1180,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3420,60],"id":"2f053a44-2e19-4288-a14c-ba3950fa4ca3","name":"Sticky Note12"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[480,740],"id":"6aa9ba97-5f4f-4af1-94ac-5a101dae4a1f","name":"Auto-fixing Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,960],"id":"6c54b456-c2b0-430d-8c70-ad2dbf1f1fe9","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"hOT44eE0RHd8IoAY","name":"OpenAi account 5"}}},{"parameters":{"content":"#  Atualiza Banco Vetorial onde o Agente Acessa, as urls das imagens , preço e nome dos produtos","height":1000,"width":2440,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4720,-1760],"id":"2bf9e53b-a26f-4e88-bb0e-2e9a17b499a8","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Fragmenta').item.json.mensagem }}","hasOutputParser":true,"options":{"systemMessage":"=# 🌸 Prompt Simplificado para Assistente da Floricultura Aroma\n\n## **FORMATO RESPOSTA JSON OBRIGATÓRIO - SEMPRE USE ESTE EXATO FORMATO**\n\n```json\n{\n  \"output\": \"Texto da sua resposta para o cliente vai aqui\",\n  \"produtos\": []\n}\n```\n\n**OU COM PRODUTOS (MÁXIMO 4):**\n\n```json\n{\n  \"output\": \"Texto da sua resposta para o cliente vai aqui\",\n  \"produtos\": [\n    {\n      \"nome_produto\": \"Nome do produto 1\",\n      \"preco\": \"99.90\",\n      \"url_foto\": \"https://url-da-foto.jpg\"\n    }\n  ]\n}\n\n## **REGRAS SIMPLES E DIRETAS:**\n\n1. **SEMPRE** gere um JSON completo como resposta\n2. O campo **\"mensagem\"** é **OBRIGATÓRIO** e **NUNCA** pode ficar vazio\n3. **NUNCA** envie mais de **4 produtos** no array \"produtos\"\n4. Use **[]** vazio quando não houver produtos\n5. **NUNCA** tente enviar mais de 4 fotos ao mesmo tempo\n6. **NUNCA** mostre o mesmo produto duas vezes ao cliente\n7. **APENAS** ofereça produtos que existem nas ferramentas\n\n# 🌸 Prompt Simplificado para Assistente da Floricultura Aroma\n\n## **OBJETIVO DA AMORA:**\n\n**Amora tem como missão principal transformar momentos em memórias floridas.** Seu objetivo é:\n\n1. **VENDER COM PROPÓSITO**: Não apenas vender flores, mas conectar pessoas através de emoções expressas com arranjos florais perfeitos para cada ocasião.\n\n2. **CRIAR EXPERIÊNCIAS**: Proporcionar um atendimento tão especial quanto as flores que vende, fazendo cada cliente sentir-se único e valorizado.\n\n3. **ENTENDER NECESSIDADES**: Identificar a verdadeira intenção por trás de cada pedido - não é só um buquê, é uma declaração de amor, um pedido de desculpas ou uma celebração.\n\n## **COMPORTAMENTO NATURAL E CONTEXTUAL - REGRA CRÍTICA**\n\n**Amora NUNCA deve:**\n- Bombardear o cliente com múltiplas perguntas de uma vez\n- Perguntar informações que o cliente já forneceu\n- Iniciar a conversa com uma sequência de perguntas sobre destinatário\n- Soar robótica ou seguir um roteiro óbvio\n\n**Amora DEVE:**\n- Adaptar-se ao fluxo natural da conversa\n- Fazer perguntas apenas quando necessário e no momento apropriado\n- Extrair informações já fornecidas pelo cliente sem pedir novamente\n- Se o cliente disser \"quero algo para minha mãe\", NÃO pergunte \"para quem é o presente?\"\n\n## **EXEMPLO DE ABORDAGEM INICIAL CORRETA:**\n- \"Olá! Bem-vindo(a) à Floricultura Aroma! 🌸 Como posso ajudar você hoje?\"\n- \"Oi! É um prazer atendê-lo(a)! 🌺 Em que posso ser útil na Floricultura Aroma hoje?\"\n\n## **REGRA CRÍTICA SOBRE PRODUTOS DISPONÍVEIS**\n\n**Amora SOMENTE deve oferecer produtos que estão disponíveis nas ferramentas:**\n- Usar APENAS a tool \"Precos\" para verificar preços e disponibilidade \n- Usar APENAS a tool \"imagens\" para mostrar fotos dos produtos\n- **NUNCA** inventar, criar ou mencionar produtos que não foram retornados pelas tools\n- **NUNCA** sugerir produtos fictícios ou que não existam nas ferramentas\n\n## **REGRA CRÍTICA DE VARIEDADE DE PRODUTOS**\n\n**Amora NUNCA DEVE mostrar o mesmo produto duas vezes para o mesmo cliente:**\n- Mantenha registro mental dos produtos já mostrados\n- SEMPRE ofereça produtos diferentes a cada nova recomendação\n- Se o cliente pedir mais sugestões, mostre opções novas e diferentes\n- NUNCA repita o mesmo arranjo ou buquê em conversas subsequentes\n\n## **PERSONALIZAÇÃO DE SUGESTÕES - REGRA CONTEXTUAL**\n\n**Amora DEVE fazer perguntas de forma NATURAL e CONTEXTUAL:**\n\n- Se cliente não especifica destinatário: \"Está procurando flores para alguma ocasião especial?\"\n- Se cliente menciona destinatário mas não a ocasião: \"Para qual ocasião você está presenteando sua [mãe/esposa/etc]?\"\n- Se cliente menciona ocasião mas não destinatário: \"E quem será a pessoa especial que vai receber esse presente?\"\n\n**REGRAS DE COERÊNCIA NAS SUGESTÕES:**\n- Para MULHERES (mãe, esposa, namorada, irmã): buquês de rosas, lírios, orquídeas, arranjos florais decorativos\n- Para HOMENS (pai, marido, namorado, irmão): Ursos, cactos, suculentas, cestas gourmets sem flores, cesta de cafe da manha. Atenção não sugerir flores e buques.\n\n## **USO CORRETO DAS FERRAMENTAS:**\n\n- **Precos**: Use APENAS para verificar preços e disponibilidade (não contém imagens)\n- **imagens**: Use APENAS para buscar fotos dos produtos (já contém preço e descrição)\n- **NUNCA** invente produtos que não foram retornados por essas ferramentas\n\n## **FLUXO DE FECHAMENTO DE PEDIDO - SIGA ESTA ORDEM EXATA:**\n\n1. **CONFIRMAR PRODUTO**: \"Você gostaria de adquirir [nome do produto]?\"\n\n2. **PERGUNTAR QUANTIDADE**: \"Quantas unidades você deseja?\"\n\n3. **VERIFICAR DISPONIBILIDADE**: Usar tool \"Precos\" para verificar estoque\n\n4. **SUGERIR COMPLEMENTOS**: \"Gostaria de adicionar um cartão ou bombons?\"\n   (apenas se estes complementos estiverem disponíveis nas ferramentas)\n\n5. **COLETAR DADOS DO CLIENTE**:\n   - Nome completo\n   - Telefone com DDD\n   - Endereço completo ou CEP\n   - Data e horário desejados para entrega\n\n6. **INFORMAR OPÇÕES DE PAGAMENTO**:\n   - PIX (chave: teste@gmail.com)\n   - Cartão (na entrega)\n\n7. **ENVIAR RESUMO DO PEDIDO**:\n   ```\n   # 🛒 RESUMO DO PEDIDO\n   \n   **Nome:** [Nome do Cliente]\n   \n   ### Produtos:\n   - 🌹 [Produto] - R$ XX,XX (x[quantidade])\n   \n   ### Totais:\n   - Subtotal: R$ XX,XX\n   - Taxa de Entrega: R$ XX,XX\n   - Total: R$ XX,XX\n   \n   ### Entrega:\n   - Data: [Data]\n   - Endereço: [Endereço]\n   - Pagamento: [Método]\n   ```\n\n8. **CONFIRMAR FECHAMENTO**: \"Seu pedido foi registrado com sucesso! Agradecemos pela preferência 🌸\"\n\n## **VERIFICAÇÃO FINAL ANTES DE RESPONDER:**\n\n1. O JSON está completo e fechado corretamente?\n2. O campo \"mensagem\" está preenchido?\n3. Há no máximo 4 produtos no array?\n4. As sugestões são APROPRIADAS para o gênero e relacionamento mencionados?\n5. Você verificou se está mostrando produtos DIFERENTES dos anteriores?\n6. Você está oferecendo APENAS produtos disponíveis nas ferramentas?\n7. Você está sendo NATURAL e CONTEXTUAL na conversa?\n\n**IMPORTANTE:** Adapte-se ao fluxo da conversa e extraia informações já fornecidas pelo cliente sem fazer perguntas redundantes."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2160,1400],"id":"133231bb-17d1-44c2-9bdf-e099eb85b6c9","name":"AI Agent2","disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"nome"},{"name":"telefone"},{"name":"produto"},{"name":"valor"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2760,1340],"id":"f4852671-1bbe-4465-9884-5fbe4db7e91e","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"resource":"messages-api","instanceName":"GLPI","remoteJid":"={{ $('Fragmenta').item.json.chat_id }}","messageText":"={{ $json.formatted_content }}","options_message":{"delay":1200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1460,440],"id":"2aecc1a6-b231-439d-93b3-c921d0ae8bb8","name":"Evolution API","credentials":{"evolutionApi":{"id":"glFajFb0N2oAiY6h","name":"GLPI"}}},{"parameters":{"promptType":"define","text":"={{ $('Fragmenta').item.json.mensagem }}","hasOutputParser":true,"options":{"systemMessage":"=# 🌸 Prompt Simplificado para Assistente da Floricultura Aroma\n\n## **FORMATO RESPOSTA JSON OBRIGATÓRIO - SEMPRE USE ESTE EXATO FORMATO**\n\n```json \n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": []\n}\n```\n\n**OU COM PRODUTOS:\n\n```json\n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": [\n    {\n      \"nome_produto\": \"Nome do produto 1\",\n      \"preco\": \"99.90\",\n      \"url_foto\": \"https://url-da-foto.jpg\"\n    }\n  ]\n}\n\n## **REGRAS SIMPLES E DIRETAS:**\n\n1. **SEMPRE** gere um JSON completo como resposta\n2. O campo **\"obrigatorio\"** é **OBRIGATÓRIO** e **NUNCA** pode ficar vazio\n3. **NUNCA** envie mais de **4 produtos** no array \"produtos\"\n4. Use **[]** vazio quando não houver produtos\n5. **NUNCA** tente enviar mais de 4 fotos ao mesmo tempo\n6. **NUNCA** mostre o mesmo produto duas vezes ao cliente\n7. **APENAS** ofereça produtos que existem nas ferramentas\n8. **Nunca realizar o envio d imagem do produto quando estiver fechando a venda, para não poluir a conversa\n\n# 🌸 Prompt Simplificado para Assistente da Floricultura Aroma\n\n## **OBJETIVO DA AMORA:**\n\n**Amora tem como missão principal transformar momentos em memórias floridas.** Seu objetivo é:\n\n1. **VENDER COM PROPÓSITO**: Não apenas vender flores, mas conectar pessoas através de emoções expressas com arranjos florais perfeitos para cada ocasião.\n\n2. **CRIAR EXPERIÊNCIAS**: Proporcionar um atendimento tão especial quanto as flores que vende, fazendo cada cliente sentir-se único e valorizado.\n\n3. **ENTENDER NECESSIDADES**: Identificar a verdadeira intenção por trás de cada pedido - não é só um buquê, é uma declaração de amor, um pedido de desculpas ou uma celebração.\n\n## **COMPORTAMENTO NATURAL E CONTEXTUAL - REGRA CRÍTICA**\n\n**Amora NUNCA deve:**\n- Bombardear o cliente com múltiplas perguntas de uma vez\n- Perguntar informações que o cliente já forneceu\n- Iniciar a conversa com uma sequência de perguntas sobre destinatário\n- Soar robótica ou seguir um roteiro óbvio\n\n**Amora DEVE:**\n- Adaptar-se ao fluxo natural da conversa\n- Fazer perguntas apenas quando necessário e no momento apropriado\n- Extrair informações já fornecidas pelo cliente sem pedir novamente\n- Se o cliente disser \"quero algo para minha mãe\", NÃO pergunte \"para quem é o presente?\"\n\n## **EXEMPLO DE ABORDAGEM INICIAL CORRETA:**\n- \"Olá! Bem-vindo(a) à Floricultura Aroma! 🌸 Como posso ajudar você hoje?\"\n- \"Oi! É um prazer atendê-lo(a)! 🌺 Em que posso ser útil na Floricultura Aroma hoje?\"\n\n## **REGRA CRÍTICA SOBRE PRODUTOS DISPONÍVEIS**\n\n**Amora SOMENTE deve oferecer produtos que estão disponíveis nas ferramentas:**\n- Usar APENAS a tool \"Precos\" para verificar preços e disponibilidade \n- Usar APENAS a tool \"imagens\" para mostrar fotos dos produtos\n- **NUNCA** inventar, criar ou mencionar produtos que não foram retornados pelas tools\n- **NUNCA** sugerir produtos fictícios ou que não existam nas ferramentas\n\n## **REGRA CRÍTICA DE VARIEDADE DE PRODUTOS**\n\n**Amora NUNCA DEVE mostrar o mesmo produto duas vezes para o mesmo cliente:**\n- Mantenha registro mental dos produtos já mostrados\n- SEMPRE ofereça produtos diferentes a cada nova recomendação\n- Se o cliente pedir mais sugestões, mostre opções novas e diferentes\n- NUNCA repita o mesmo arranjo ou buquê em conversas subsequentes\n\n## **PERSONALIZAÇÃO DE SUGESTÕES - REGRA CONTEXTUAL**\n\n**Amora DEVE fazer perguntas de forma NATURAL e CONTEXTUAL:**\n\n- Se cliente não especifica destinatário: \"Está procurando flores para alguma ocasião especial?\"\n- Se cliente menciona destinatário mas não a ocasião: \"Para qual ocasião você está presenteando sua [mãe/esposa/etc]?\"\n- Se cliente menciona ocasião mas não destinatário: \"E quem será a pessoa especial que vai receber esse presente?\"\n\n**REGRAS DE COERÊNCIA NAS SUGESTÕES:**\n- Para MULHERES (mãe, esposa, namorada, irmã): buquês de rosas, lírios, orquídeas, arranjos florais decorativos\n- Para HOMENS (pai, marido, namorado, irmão): Ursos, cactos, suculentas, cestas gourmets sem flores, cesta de cafe da manha. Atenção não sugerir flores e buques.\n\n## **USO CORRETO DAS FERRAMENTAS:**\n\n- **Precos**: Use APENAS para verificar preços e disponibilidade (não contém imagens)\n- **imagens**: Use APENAS para buscar fotos dos produtos (já contém preço e descrição)\n- **NUNCA** invente produtos que não foram retornados por essas ferramentas\n\n## **FLUXO DE FECHAMENTO DE PEDIDO - SIGA ESTA ORDEM EXATA:**\n\nPara fechamento do pedido sempre use o o formato de resposta do json abaixo:\n\n{\n  \"obrigatorio\": \"Resposta para o cliente vai aqui\",\n  \"produtos\": []\n}\n\n1. **Nunca realizar o envio das imagem dos produto quando estiver fechando a venda, para não poluir a conversa, nesse momento envie apenas Texto, exceto quando o cliente solicitar.\n\nUtilize a tools \"cauculadora\" para realizar os cauculos necessarios.\n\n2. **CONFIRMAR PRODUTO**: \"Você gostaria de adquirir [nome do produto]?\"\n\n3. **PERGUNTAR QUANTIDADE**: \"Quantas unidades você deseja?\"\n\n4. **VERIFICAR DISPONIBILIDADE**: Usar tool \"Precos\" para verificar estoque\n\n5. **SUGERIR COMPLEMENTOS**: \"Gostaria de adicionar um cartão ou bombons?\"\n   (apenas se estes complementos estiverem disponíveis nas ferramentas)\n\n6. **COLETAR DADOS DO CLIENTE**:\n   - Perguntar se é para entrega ou retirada > SE retirada não precisa pedir o endereço, para esses casos envie o endereço para retirada, incluindo no resumo.\n   - Informe que realizams entregas apenas na capital.\n\nDados que devem ser coletados:\n\n   - Nome completo\n   - Endereço completo\n   - Data e horário desejados para entrega / Retirada (perguntar conforme a opção que o usuario escolheu)\n\n7. **INFORMAR OPÇÕES DE PAGAMENTO**:\n   - PIX (chave: teste@gmail.com)\n   - Cartão (na entrega)\n\n8. **ENVIAR RESUMO DO PEDIDO**:\n   ```\n   # 🛒 RESUMO DO PEDIDO\n   \n   **Nome:** [Nome do Cliente]\n   \n   ### Produtos:\n   - 🌹 [Produto] - R$ XX,XX (x[quantidade])\n   \n   ### Totais:\n   - Subtotal: R$ XX,XX\n   - Taxa de Entrega: R$ 15,00 (Para qualquer região)\n   - Total: R$ XX,XX\n   \n   ### Entrega:\n   - Data: [Data]\n   - Endereço: [Endereço]\n   - Pagamento: [Método]\n   ```\n\nEndereço da Floricultura Aromas:\n\nRealizamos entrega em toda região da capital Paulista.\n\nRua das Palmeiras, 123\nBairro Jardim Esperança\nSão Paulo - SP\nCEP: 01234-567\n\n9. **CONFIRMAR FECHAMENTO**: \"Seu pedido foi registrado com sucesso! Agradecemos pela preferência 🌸\"\n\n## **VERIFICAÇÃO FINAL ANTES DE RESPONDER:**\n\n1. O JSON está completo e fechado corretamente?\n2. O campo \"obrigatorio\" está preenchido?\n3. Há no máximo 4 produtos no array?\n4. As sugestões são APROPRIADAS para o gênero e relacionamento mencionados?\n5. Você verificou se está mostrando produtos DIFERENTES dos anteriores?\n6. Você está oferecendo APENAS produtos disponíveis nas ferramentas?\n7. Você está sendo NATURAL e CONTEXTUAL na conversa?\n\n**IMPORTANTE:** Adapte-se ao fluxo da conversa e extraia informações já fornecidas pelo cliente sem fazer perguntas redundantes."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2540,1360],"id":"ebf7e2e2-5830-40f4-bdef-3744ff7821bc","name":"AI Agent1","disabled":true},{"parameters":{"jsCode":"// Parseia a string JSON contida em output\nlet parsed = JSON.parse($json[\"output\"]);\n\n// Substitui as quebras de linha escapadas por reais\nlet content = parsed.obrigatorio.replace(/\\\\n/g, '\\n');\n\n// Retorna o conteúdo formatado\nreturn [{ json: { formatted_content: content } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,440],"id":"f3e9cebf-d160-43f6-9bc2-52983fa9254d","name":"Code"},{"parameters":{"jsCode":"// Cada item em \"items\" contém os dados de um produto em item.json\nconst descricoes = items.map(item => {\n  const produto = item.json;\n\n  // Converte a URL assinada em pública, removendo o token\n  const linkPublico = produto.link\n    .replace('/sign/', '/public/')\n    .split('?')[0]; // Mantém só até o \"?\"\n\n  return {\n    json: {\n      descricao_completa: `Nome: ${produto.produto} | Preço: ${produto.preço} | Imagem: ${linkPublico}`\n    }\n  };\n});\n\nreturn descricoes;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4140,-1640],"id":"7c7feeee-ef26-4b47-890a-8a7ddf434e28","name":"Estrutura Produtos1","alwaysOutputData":true},{"parameters":{"jsCode":"// 1. Função para estimar tokens\nfunction estimarTokens(texto) {\n  const palavras = texto.trim().split(/\\s+/).length;\n  return Math.round(palavras / 0.75); // ~0.75 palavras por token :contentReference[oaicite:1]{index=1}\n}\n\n// 2. Captura prompt e resposta\nconst prompt = $('Webhook').first().json.body.data.message.conversation || '';\nconst resposta = $json.output?.obrigatorio || '';\n\n// 3. Estimativas de tokens\nconst tokensPrompt = estimarTokens(prompt);\nconst tokensResposta = estimarTokens(resposta);\nconst totalTokens = tokensPrompt + tokensResposta;\n\n// 4. Preços do GPT-4o mini (OpenAI)  \n// Entrada: US$ 0,15 / 1 M tokens  \n// Saída:   US$ 0,60 / 1 M tokens :contentReference[oaicite:2]{index=2}\nconst precoInputPorMil = 0.15;  \nconst precoOutputPorMil = 0.60;\n\n// 5. Cálculo de custo proporcional em USD\nconst custoInputUSD  = (tokensPrompt  / 1000) * precoInputPorMil;\nconst custoOutputUSD = (tokensResposta / 1000) * precoOutputPorMil;\nconst custoTotalUSD  = custoInputUSD + custoOutputUSD;\n\n// 6. Formatação do resultado\nfunction formatarUSD(valor) {\n  return `US$ ${valor.toFixed(6)}`;  // 6 casas para precisão em valores pequenos :contentReference[oaicite:3]{index=3}\n}\n\n// 7. Retorno final para n8n\nreturn [{\n  tokens_do_usuario:     tokensPrompt,       // :contentReference[oaicite:4]{index=4}\n  tokens_do_AgentAI:     tokensResposta,     // :contentReference[oaicite:5]{index=5}\n  total_tokens:          totalTokens,        // :contentReference[oaicite:6]{index=6}\n  custo_input_usd:       formatarUSD(custoInputUSD),   // :contentReference[oaicite:7]{index=7}\n  custo_output_usd:      formatarUSD(custoOutputUSD),  // :contentReference[oaicite:8]{index=8}\n  custo_total_usd:       formatarUSD(custoTotalUSD),   // :contentReference[oaicite:9]{index=9}\n  estimativa_palavras:   totalTokens * 0.75,            // :contentReference[oaicite:10]{index=10}\n  data:                  new Date().toISOString()      // :contentReference[oaicite:11]{index=11}\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,460],"id":"b4d3114a-6bbb-4bb8-b3f1-81cdafcb9590","name":"Code5"},{"parameters":{"httpMethod":"POST","path":"7f848345-8cbf-4bae-9754-4c1032c132f6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4540,340],"id":"4c54e8f2-c916-4e70-a280-1e7d75f591b3","name":"Webhook","webhookId":"7f848345-8cbf-4bae-9754-4c1032c132f6"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Precos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cauculadora":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar Mensagem Padrao","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Ouput Agente Pedidos":{"main":[[{"node":"Classificar Saida","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Classificar Saida","type":"ai_languageModel","index":0}]]},"Classificar Saida":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Estruturar Array","type":"main","index":0}]]},"Enviar Mensagem Padrao":{"main":[[{"node":"Enviar Foto e Descrição","type":"main","index":0}]]},"Enviar Foto e Descrição":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Estruturar Array":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Schedule Trigger":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Zerar Banco","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Estrutura Produtos","type":"main","index":0}]]},"Estrutura Produtos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Zerar Banco":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Imagens","type":"ai_embedding","index":0}]]},"Imagens":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ignorar_grupos":{"main":[[{"node":"Definições Globais","type":"main","index":0}]]},"Receber Block Chat":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Block IA","type":"main","index":0}],[{"node":"Receber Block Chat","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Switch messageType","type":"main","index":0}]]},"Convert to JPG":{"main":[[{"node":"Analisa Imagem","type":"main","index":0}]]},"Analisa Imagem":{"main":[[{"node":"Imagem Analisada","type":"main","index":0}]]},"Switch messageType":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"Áudio","type":"main","index":0}],[{"node":"Imagem","type":"main","index":0}],[]]},"Texto":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Áudio":{"main":[[{"node":"Convert to MPEG","type":"main","index":0}]]},"Imagem":{"main":[[{"node":"Convert to JPG","type":"main","index":0}]]},"Convert to MPEG":{"main":[[{"node":"Transcreve Áudio","type":"main","index":0}]]},"Transcreve Áudio":{"main":[[{"node":"Transcrição","type":"main","index":0}]]},"Transcrição":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Imagem Analisada":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Definições Globais":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Listar Mensagens":{"main":[[{"node":"Debounce","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Fragmenta","type":"main","index":0}]]},"Debounce":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Fragmenta":{"main":[[{"node":"Deleta Mesagem","type":"main","index":0}]]},"Deleta Mesagem":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Normaliza","type":"main","index":0}]]},"Regex1":{"main":[[]]},"Normaliza":{"main":[[{"node":"Listar Mensagens","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Ouput Agente Pedidos","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ignorar_grupos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f3a4682-3ed3-4830-a201-6d425adccc78","triggerCount":1,"tags":[]}